<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypal Node App</title>
</head>

<body>
    <h1>Iphone 13 Pro</h1>
    <h2>Buy for $500</h2>
    <form action="/pay" method="post">
        <input type="submit" value="Buy">
    </form>

    <h1>Spotify subscription plan</h1>
    <h2>Buy for $25</h2>
    <form action="/pay" method="post">
        <input type="submit" value="Subscribe">
    </form>

</body>

</html>